/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { GraviteeApimCore } from "../core.js";
import { encodeFormQuery, encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  PatchApiPlanRequest,
  PatchApiPlanRequest$zodSchema,
  PatchApiPlanResponse,
  PatchApiPlanResponse$zodSchema,
} from "../models/patchapiplanop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Partially update one API's plan
 *
 * @remarks
 * Partially update one API's plan
 *
 * Apply a partial update to an API's plan using JSON Merge Patch (RFC 7396) or JSON Patch (RFC 6902). Only v4 HTTP Proxy API plans support this operation. Only the following fields are patchable: name, description, security (configuration only),
 */
export function apiPlansPatchAPIPlan(
  client$: GraviteeApimCore,
  request: PatchApiPlanRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    PatchApiPlanResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: GraviteeApimCore,
  request: PatchApiPlanRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      PatchApiPlanResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => PatchApiPlanRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$.RequestBody, { explode: true });

  const pathParams$ = {
    apiId: encodeSimple("apiId", payload$.apiId, {
      explode: false,
      charEncoding: "percent",
    }),
    envId: encodeSimple("envId", payload$.envId, {
      explode: false,
      charEncoding: "percent",
    }),
    planId: encodeSimple("planId", payload$.planId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/environments/{envId}/apis/{apiId}/plans/{planId}")(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "dryRun": payload$.dryRun,
  });

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json-patch+json",
    Accept: "application/json",
    "If-Match": encodeSimple("If-Match", payload$.ifMatch, {
      explode: false,
      charEncoding: "none",
    }),
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "patchApiPlan",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "PATCH",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    PatchApiPlanResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, PatchApiPlanResponse$zodSchema, { hdrs: true, key: "Plan" }),
    M.json([400, 404, 412, 415], PatchApiPlanResponse$zodSchema, {
      key: "ErrorT",
    }),
    M.json("default", PatchApiPlanResponse$zodSchema, { key: "ErrorT" }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
