/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { GraviteeApimCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  ExportApiDefinitionRequest,
  ExportApiDefinitionRequest$zodSchema,
  ExportApiDefinitionResponse,
  ExportApiDefinitionResponse$zodSchema,
} from "../models/exportapidefinitionop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Export an API
 *
 * @remarks
 * ⚠️ Support only v4 API for the moment. ⚠️
 *
 * Export an API to a JSON file.
 *
 * User must have at least the API_DEFINITION[READ] permission.<br>
 * User should also have these permissions for specific data:
 *  - API_DEFINITION[READ] for the API
 *  - API_MEMBER[READ] for the API's members
 *  - API_PLAN[READ] for the API's plans
 *  - API_METADATA[READ] for the API's metadata
 *  - API_DOCUMENTATION[READ] for the API's documentation pages
 */
export function apIsExportApiDefinition(
  client$: GraviteeApimCore,
  request: ExportApiDefinitionRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    ExportApiDefinitionResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: GraviteeApimCore,
  request: ExportApiDefinitionRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      ExportApiDefinitionResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => ExportApiDefinitionRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    apiId: encodeSimple("apiId", payload$.apiId, {
      explode: false,
      charEncoding: "percent",
    }),
    envId: encodeSimple("envId", payload$.envId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc(
    "/environments/{envId}/apis/{apiId}/_export/definition",
  )(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "excludeAdditionalData": payload$.excludeAdditionalData,
  });

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "exportApiDefinition",
    oAuth2Scopes: [],
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    ExportApiDefinitionResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, ExportApiDefinitionResponse$zodSchema, {
      hdrs: true,
      key: "ExportApiV4",
    }),
    M.json("default", ExportApiDefinitionResponse$zodSchema, { key: "Error" }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
