/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { GraviteeApimCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  CreateApiWithImportDefinitionFromUrlRequest,
  CreateApiWithImportDefinitionFromUrlRequest$zodSchema,
  CreateApiWithImportDefinitionFromUrlResponse,
  CreateApiWithImportDefinitionFromUrlResponse$zodSchema,
} from "../models/createapiwithimportdefinitionfromurlop.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Import API definition from a remote URL
 *
 * @remarks
 * Import API definition from a remote URL
 *
 * ⚠️ Support only v4 API for the moment. ⚠️<br> Create an API by fetching an API definition from a remote URL.<br> The URL must be permitted by the configured import whitelist.
 */
export function apIsCreateApiWithImportDefinitionFromUrl(
  client$: GraviteeApimCore,
  request: CreateApiWithImportDefinitionFromUrlRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    CreateApiWithImportDefinitionFromUrlResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: GraviteeApimCore,
  request: CreateApiWithImportDefinitionFromUrlRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      CreateApiWithImportDefinitionFromUrlResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) =>
      CreateApiWithImportDefinitionFromUrlRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = payload$.RequestBody;

  const pathParams$ = {
    envId: encodeSimple("envId", payload$.envId, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/environments/{envId}/apis/_import/definition-url")(
    pathParams$,
  );

  const headers$ = new Headers(compactMap({
    "Content-Type": "text/plain",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "createApiWithImportDefinitionFromUrl",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    CreateApiWithImportDefinitionFromUrlResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(201, CreateApiWithImportDefinitionFromUrlResponse$zodSchema, {
      key: "ApiV4",
    }),
    M.json("default", CreateApiWithImportDefinitionFromUrlResponse$zodSchema, {
      key: "ErrorT",
    }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
